<div id="content">
	<div class="text" id="aboutContent">
		<h2 class="intext">What we do</h2>
		<div class="text18" name="aboutus">
			<p>
				Lychee Labs provides tools and components for makers in the Berkeley/SF area.
			</p>
			<p>
				We're a group of friends who first met as officers of <a href="http://hackersatberkeley.com">
				Hackers@Berkeley</a>, and share a passion for projects tying together the physical and virtual. Our
				goal is to make it easier for other hackers to do the same.
			</p>
			<p>
				You can usually find us hacking in Cory or Soda Hall, or shipping hardware from Nelson's apartment
				on Le Conte street (right behind Soda).
			</p>
		</div>
		<h2 class="intext">Who we are</h2>
		<div class="grid" id="people">
		<a href="http://nzhang.org">
		<div class="square" id="nelson">
			<div class="squaretext"><span>nelson z.</span></div>
		</div>
		</a>
		<a href="http://iyervikram.com">
		<div class="square" id="vikram">
			<div class="squaretext"><span>vikram i.</span></div>
		</div>
		</a>
		<a href="http://net.vedantk.com">
		<div class="square" id="vedant">
			<div class="squaretext"><span>vedant k.</span></div>
		</div>
		</a>
		<a href="http://inst.eecs.berkeley.edu/~cs61a-rb/">
		<div class="square" id="sharad">
			<div class="squaretext"><span>sharad v.</span></div>
		</div>
		</a>
		<a href="http://github.com/ohtrahddis">
		<div class="square" id="sid">
			<div class="squaretext"><span>siddhartho b.</span></div>
		</div>
		</a>
		<a href="http://thanhhaimai.com">
		<div class="square" id="hai">
			<div class="squaretext"><span>thanh hai m.</span></div>
		</div>
		</a>
		<a href="http://github.com/grizlo42">
		<div class="square" id="steve">
			<div class="squaretext"><span>steve y.</span></div>
		</div>
		</a>
	</div>
		<div class="text18" id="who" style="display:none;">
			<div name="nelson">
				<p>
					Growing up in Shanghai, Nelson spent his time wandering around electronics flea markets and
					factories, picking up skills from 
				</p>
			</div>
			<div name="vikram">
				<p>
					Vikram is from Houston, Texas and originally became interested in electronics while participating in FIRST Robotics (FRC 2587). Vikram has a variety of software and hardware interests. Current and past projects involve wireless communications and medical devices.
				</p>
			</div>
			<div name="vedant">
				<p>
					Vedant loves riding bikes, listening to music, and riding bikes while listening to music. He's interested in artificial intelligence, language implementation, and operating systems.
				</p>
			</div>
			<div name="sharad">
				<p>
				
				</p>
			</div>
			<div name="sid">
				<p>
				
				</p>
			</div>
			<div name="hai">
				<p>
					Thanh Hai Mai (aka Hai) is from San Jose, CA. He loves gaming, and is a GSI for the online Computer Graphics course for Berkeley EdX. He has a wide range of interests, including AI, web development, and recently, hardware hacking. Rumor is that he will fall in love with anyone who gives him mint chocolate.
				</p>
			</div>
			<div name="steve">
				<p>
					Born into a family of electrical engineers, it became Steve's destiny to take up computer science and software engineering. Steve has experience in designing systems software. His current interests and projects are focused on biomedical software and statistics.
				</p>
			</div>
		</div>
	</div>
</div>