<div id="content">
	<div class="grid" id="panels">
		<a href="http://nzhang.org">
		<div class="square" id="nelson">
			<div class="squaretext"><span>nelson z.</span></div>
		</div>
		</a>
		<a href="http://iyervikram.com">
		<div class="square" id="vikram">
			<div class="squaretext"><span>vikram i.</span></div>
		</div>
		</a>
		<a href="http://net.vedantk.com">
		<div class="square" id="vedant">
			<div class="squaretext"><span>vedant k.</span></div>
		</div>
		</a>
		<a href="http://inst.eecs.berkeley.edu/~cs61a-rb/">
		<div class="square" id="sharad">
			<div class="squaretext"><span>sharad v.</span></div>
		</div>
		</a>
		<div class="square" id="sid">
			<div class="squaretext"><span>siddhartho b.</span></div>
		</div>
		<a href="http://thanhhaimai.com">
		<div class="square" id="hai">
			<div class="squaretext"><span>thanh hai m.</span></div>
		</div>
		</a>
		<a href="http://github.com/grizlo42">
		<div class="square" id="steve">
			<div class="squaretext"><span>steve y.</span></div>
		</div>
		</a>
	</div>
</div>