<html>
	<head>
		<title>Lychee Labs</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<div id="red">
			<div style="width: 530px;height: 50px; margin: auto;padding-top: 5px;">
				<font id="title">
					lycheelabs&nbsp;&nbsp;&nbsp;

				</font>
				<div id="navigation">
					about&nbsp;&nbsp;

				</div>
				<div id="navigation">
					store&nbsp;&nbsp;
		
				</div>
				<div id="navigation">
					projects&nbsp;&nbsp;

				</div>
				<div id="navigation">
					contact&nbsp;&nbsp;

				</div>
			</div>
		</div>
		<div id="content">
			<div id="slideshow" style="background-image:url('/img/slide1.jpg');">
				<div id="slidetitle">
					<h1>DUMMY</h1>
					<h2>Robotic Desk Cleaner</h2>
					<h3> EE125 Final Project </h3>
				</div>
			</div>
			<div class="text">
				<h2 class="intext"> "If a cluttered desk is a sign of a cluttered mind..." </h2>
				<div class="text18">
					Of what then, is an empty desk a sign?<br>
					Some would say an empty mind, but we're content with just having some free space to work on.
				</div>
			</div>
		</div>
	</body>
</html>
