<div id="content">
	<div class="grid" id="pages">
		<a href="/about">
		<div class="square" id="aboutus">
			<div class="squaretext"><span>about us</span></div>
		</div>
		</a>
		<a href="/contact">
		<div class="square" id="contactus">
			<div class="squaretext"><span>contact</span></div>
		</div>
		</a>
		<a href="/store">
		<div class="square" id="lycheestore">
			<div class="squaretext"><span>store</span></div>
		</div>
		</a>
		<a href="/cart">
		<div class="square" id="shoppingcart">
			<div class="squaretext"><span>your cart</span></div>
		</div>
		</a>
	</div>
</div>