<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Lychee Labs</title>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8" />
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/lychee.js"></script>
	</head>
	<body>
		<div id="red">
			<div id="header">
				<div id="leftheader">
					<div class="navigation" id="home">
						home
					</div>
					<div class="navigation" id="about">
						about
					</div>
					<div class="navigation" id="contact">
						contact
					</div>
					<div class="navigation" id="store">
						store
					</div>
				</div>
				<div id="rightheader">
					<div class="navigation" id="checkout">
						checkout
					</div>
					<div class="navigation" id="dollas">
						$0.00
					</div>
					<div class="navigation" id="cart">
						cart
					</div>
				</div>
			</div>
		</div>
		<div id="hello">
			<div id="titlebox">
				<img src="/img/lychee.png" style="opacity: 0.95; width: 100px; float: left; margin-top: -10px">
				<div id="title">lycheelabs</div>			
				<div id="subtitle">about</div>
			</div>
		</div>
		
		<%-body%>
		
		<div id="footer"></div>
	</body>
</html>