<div id="content">
	<div id="slidecontainer">
		<div id="slideshow">
		</div>
		<div id="slidetitle">
			<h1>DUMMY</h1>
			<h2>Robotic Desk Cleaner</h2>
			<h3> EE125 Final Project </h3>
			<div id="slidecontrolbox">
				<div id="playpause" class="slidecontrol"> Pause || </div>
			</div>
		</div>
	</div>
	
	<div class="text">
		dummy
		icarus 1
		icarus 2
		sharkadson
		prism
		arc reactor
		hapwear
		3d printer??
		mindball??
	</div>
</div>