<% layout('layout') -%>
<div id="content">
    <div class="grid" id="people">
        <% items.forEach(function(item) { %>
            <a href="/item/<%= item._id %>">
                <div class="square" id='<%= item.picture %>'>
                    <div class="squaretext"><span><%= item.name %></span></div>
                </div>
            </a>
        <% }) %>
    </div>
</div>
