@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Archivo+Narrow|Inconsolata|Open+Sans+Condensed:300);
body {
	margin: 0px;
}

#title {
	font-family: 'PT Sans Narrow';
	font-size: 36px;
	color: #fff;
	letter-spacing: -0.5px;
	font-weight: bold;
	text-shadow: 2px 2px 0px #6f000d; 
	line-height: 40px;
	float: left;
	padding-right: 100px;
}

#title, .nav {
	padding-top: 5px;
}

#titlebox {
	width: 700px;
	height: 100%;
	margin: auto;
}

#small { 
	font-family: 'Inconsolata';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	line-height: 9px;
}
.nav {
	font-family: 'Inconsolata';
	font-size: 14px;
	color: #fff;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	height: 45px;
	line-height: 44px;
	margin: auto;
	float: left;
	text-align: right; 
	clear: none;
	font-weight: bold;
	text-shadow: 1px 1px 0px #6f000d;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.nav:hover {
	background-color: #ae0000;
}

#red {
	width: 900px;
	height: 50px;
	background-color: #be0012;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 150px;
	height: 100%;
	background-color: #eee;
	padding-top: 5px;
	padding-left: 50px;
	box-shadow: 1px 1px 5px 1px #ddd;
}

div#content {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	width: 900px;
}

div#slidetitle {
	font-family: 'PT Sans Narrow';
	color: #fff;
	font-weight: bold;
	text-shadow: 2px 2px 0px #6f000d;
	padding-bottom: 10px;
	padding-right: 30px;
	position: absolute;
	bottom: 40px;
	right: 0px;
}

div.text {
	font-family: 'PT Sans Narrow';
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

div.text18 {
	font-size: 18px;
}

#slideshow {
	height: 500px;
	position: absolute;
}		

#slidecontainer {
	height: 500px;
	position: relative;
}

.slide {
	position: absolute;
}

.slidecontrol {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffe;
	cursor: pointer;	
}