@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Archivo+Narrow|Inconsolata|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|PT+Sans+Narrow:400,700|Rambla:400,700|Archivo+Narrow|Inconsolata|Open+Sans+Condensed:300|Pacifico);

@font-face {
    font-family: 'MuseoSlab500Regular';
    src: url('Museo_Slab_500-webfont.eot');
    src: url('Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500-webfont.woff') format('woff'),
         url('Museo_Slab_500-webfont.ttf') format('truetype'),
         url('Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0px;
	background-color: #eee;
}

#titlebox {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

#title {
	font-family: 'PT Sans Narrow';
	font-size: 42px;
	color: #eee;
	font-weight: bold;
	text-shadow: 1px 1px 2px #111; 
	float: top;
	line-height: 42px;
	letter-spacing: 0px;
	
}

#subtitle {
	font-family: 'Pacifico'; 
	font-size: 26px; 
	color: #eee; 
	line-height: 26px;
	text-shadow: -1px -1px 0px #6f000d; 
	float: bottom;
	margin-top: 10px;
}

#small { 
	font-family: 'Inconsolata';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	line-height: 9px;
}

.navigation {
    text-decoration:none;
	font-family: 'Rambla';
	font-size: 13px;
	color: #fff;
	letter-spacing: 0px;
	height: 100%;
	text-transform: uppercase;
	padding: 0px 5px 0px 5px;
	line-height: 32px;
	float: left;
	font-weight: bold;
	text-shadow: -1px -1px 0px #111; 
	-moz-transition: background .15s linear;
	-webkit-transition: background .15s linear;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

#leftheader {
	left: 0px;
}

#rightheader {
	right: 0px;
	float: right;
}

.navigation:hover {
	border-radius: 2px;
	background-color: #a70010;
}

#logo{
	padding: 10px;
	width: 100%;
	height: 85px;
	background-color: #be0012;
	box-shadow: inset 0 0 10px #111;
	margin-top: 20px;
}

#topbar {
	width: 100%;
	height: 32px;	
	background-color: #444;
}

#logoimg {
    opacity: 0.95; 
    width: 100px; 
    float: left; 
    margin-top: -10px;
}
#header {
	width: 640px;
	height: 32px; 
	margin-left: auto;
	margin-right: auto;
}

#content {
	width: 700px;
	margin: auto; 
	background-color: #fff; 
	height: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	height: 1%;
}

.text18>img{
	width: 680px;
}


#small { 
	font-family: 'Inconsolata';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	line-height: 9px;
}

div#slidetitle {
	font-family: 'PT Sans Narrow';
	color: #fff;
	font-weight: bold;
	text-shadow: 2px 2px 0px #6f000d;
	padding-bottom: 5px;
	padding-right: 30px;
	position: absolute;
	bottom: 20px;
	right: 0px;
	line-height: 30px;
}

h1, h2, h3 {
	margin-top: 3px;
	margin-bottom: 5px;
}

div.text {
	font-family: 'PT Sans Narrow';
	padding-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

div.text18 {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

#slideshow {
	height: 388px;
	position: absolute;
}		

#slidecontainer {
	height: 388px;
	position: relative;
}

.slide {
	position: absolute;
	width: 700px;
	height: 388px;
}

.slidecontrol {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffe;
	cursor: pointer;	
}

.square {
    cursor:pointer;
	float: left;
	width: 160px;
	height: 160px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: white;
	box-shadow: 2px 2px 3px #aaaaaa;
	visibility: visible;
	opacity: 0.0;
	position: relative;
}

.grid {
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	position: relative;
	width: 660px;
}

.squarewrap {
	position: absolute;
	bottom: 0px;
	height: 20px;
	padding-bottom: 5px;
	background-color: #444;
	width: 120px;
	border-left: 40px dashed white;
	color: white;
	opacity: 0.8;
}

.squaretext {
	font-family: 'PT Sans Narrow';
	font-size: 18px;
	display: inline-block;
	margin-left: 10px;
}
